@import "_variables.sass"

body
  max-width: 1440px
  margin: 0 auto
  background: $color-background
  font-family: $font-template

#root
  align-items: center
  justify-content: center
  min-height: 100vh
  padding: 20px
